{{#> layout}}
    {{#*inline "content"}}

        <h1>Add a new comment</h1>

        <form method="POST" action="">
            Content: <br />
            <textarea name="comment"></textarea>

            <input type="submit" id="submit" />
        </form>

    {{/inline}}
{{/layout}}