{{#> layout}}
{{#*inline "content"}}

<h1>Login</h1>

<form method="POST" action="/sessions">
    Email: <input type="text" id="email" name="email" />
    Password: <input type="password" id="password" name="password" />

    <input type="submit" id="submit" />
</form>

{{/inline}}
{{/layout}}