{{#> layout}}
{{#*inline "content"}}

<div class="navbar-links">

</div>

<h1>Edit your profile</h1>

<form method="POST" action="/settings">
    <input name="pictureField" type="file" />
    <input type="submit">
</form>

{{/inline}}
{{/layout}}