{{#> layout}}
{{#*inline "content"}}

<h1>Sign up</h1>

<form method="POST" action="/users">
    First Name: <input type="text" id="firstname" name="firstname" >
    Last Name: <input type="text" id="lastname" name="lastname" >
    Username: <input type="text" id="username" name="username" >
    Email: <input type="text" id="email" name="email" />
    Password: <input type="password" id="password" name="password" />

    <input type="submit" id="submit" />
</form>

{{/inline}}
{{/layout}}